<div class="container">
    <h1>Select a test run:</h1>
    {{#each questions}}
    <div>
        <a href="{{url}}" class="btn btn-outline-info">{{url}}</a>
        <a href="/questions-run?id={{_id}}" class="btn btn-outline-success">Start Testing</a>
    </div>
    {{else}}
    <p>No questions found.</p>
    {{/each}}

</div>