<div class="container">
    <script>
        function changeColor(newColor) {
            document.questionCounter++
            var elem = document.getElementById("para1")
            elem.style.color = newColor
        }
        function initializeQuestionData() {
            document.questionCounter = 0
            document.questionAnswer = false
            document.questionsArray = JSON.parse('{{{supplyQuestions}}}')
        }
        function performNextStep() {
            if (document.questionCounter < document.questionsArray.length) {
                if (document.questionAnswer) {
                    document.questionCounter++
                }
                document.questionAnswer = !document.questionAnswer
                if (document.questionCounter < document.questionsArray.length) {
                    let question = document.questionsArray[document.questionCounter]
                    document.getElementById("question").textContent = question.question
                    if (document.questionAnswer) { 
                        document.getElementById("answer").textContent = question.answer 
                    } else { 
                        document.getElementById("answer").textContent = "..."
                    }
                } else {
                    document.getElementById("doneInfo").className = "text-center text-success visible"
                }
            } else {
                document.getElementById("doneInfo").className = "text-center text-success visible"
            }
        }
        function performBackStep() {
            if (document.questionCounter > 0) {
                if (!document.questionAnswer) {
                    document.questionCounter--
                }
                document.questionAnswer = !document.questionAnswer
                let question = document.questionsArray[document.questionCounter]
                document.getElementById("question").textContent = question.question
                if (document.questionAnswer) { 
                    document.getElementById("answer").textContent = question.answer 
                } else { 
                    document.getElementById("answer").textContent = "..."
                }
                document.getElementById("doneInfo").className = "text-center text-success invisible"
            } else {
                document.questionAnswer = false
                document.getElementById("answer").textContent = "..."
            }
        }
        document.addEventListener('DOMContentLoaded', initializeQuestionData)
    </script>
    <h1>Test Run</h1>
    <h2>Demonstration</h2>
    <div class="card card-body m-1">
        <p class="text-center " id="question">{{questions.0.question}}</p>
        <p class="text-center " id="answer">... </p>
        <p id="doneInfo" class="text-center text-success invisible">Done</p>


        <div class="btn-toolbar justify-content-between m-2" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">Edit</button>
            </div>
            <div class="btn-group mr-2 " role="group" aria-label="Second group">
                <button type="button" onclick="performBackStep();" class="btn btn-secondary">Back</button>
                <button type="button" onclick="performNextStep();" class="btn btn-secondary">Next</button>
            </div>
        </div>
    </div>
    <div>
        <p class="text-center">
            Tags:<br> 
            demo, test
        </p>
    </div>
</div>